<div class="col-8">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter new item here" value="">
    </div>
</div>
<div class="col-4">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Quantity</span>
        </div>
        <input type="number" class="form-control" placeholder="1" value="">
    </div>
</div>