<div class="col-sm-8">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input type="text" maxlength="180" class="form-control preloaded name" placeholder="{{name}}" value="{{name}}">
    </div>
</div>
<div class="col-sm-4">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">#</span>
        </div>
        <input type="number" class="form-control preloaded quantity" placeholder="?" value="{{quantity}}">
    </div>
</div>