<nav class="navbar navbar-expand-lg">
    <div class="navbar-brand logo col-lg">
        <img src="/assets/636284737702530626.jpeg" alt="DnD Inventory Logo"
            style="width: 2rem; border-radius: 50%; margin-right: 0.5rem"> D&D Inventory Bot for
        <a target="_blank" href="https://discord.com/app" style="font-size: 2rem; color:#7289DA;">
            <i class="fab fa-discord" style="margin-left: 0.5rem"></i>
        </a>
    </div>

    <div class="col-lg">
        <ul class="navbar-nav mr-auto">
            {{#if userStatus.loggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/inventory">Inventory</a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link" href="/">Guide</a>
            </li>
            <li class="nav-item">
                {{#if userStatus.loggedIn}}
                <a class="nav-link" href="/logout">Logout</a>
                {{/if}}
                {{#if userStatus.loggedOut}}
                <a class="nav-link" href="/login">Login</a>
                {{/if}}
            </li>
            {{#if userStatus.loggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/add-character">Characters</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>