:root {
    --default-font: 'Raleway', sans-serif;
    --font-size-m: 16px;
    --font-size-l: 1.5rem;
    --font-size-s: 0.75rem;

    --color-text: rgb(12, 11, 11);

    --color-1: hsl(283, 39%, 53%);
    --color-2: hsl(222, 53%, 21%);
    --color-3: hsl(254, 26%, 71%);
    --color-4: hsl(275, 30%, 83%);
    --color-5: hsl(352, 43%, 93%);

    font-family: var(--default-font);
    font-size: var(--font-size-m);
    color: var(--color-text);
    background-color: var(--color-4);
}

.light {
    background-color: white;
}
.dark {
    --color-1: hsl(201, 100%, 50%);
    --color-2: hsl(190, 84%, 50%);
    --color-3: hsl(221, 33%, 20%);
    --color-4: hsl(221, 33%, 10%);
    --color-5: hsl(325, 18%, 10%);
    --color-text: rgb(236, 236, 236);
}

* {
    font-family: var(--default-font);
    margin: 0.5em;
}

button {
    font-size: var(--font-size-m);
    padding: 0.5rem 0.75rem;
    background-color: var(--color-2);
    border-width: 1px;
    border-color: var(--color-2);
    border-style: solid;
    border-radius: 0.3rem;
    transition: 250ms;
}


button.large {
    font-size: 1.5rem;
    padding: 1rem;
}

button:hover {
    opacity: 70%;
    cursor: pointer;
}

button:focus {
    border-width: 1px;
    border-color: var(--color-3);
    border-style: solid;
}

main {
    max-width: 680px;
    margin: 0 auto;
}

main h1 {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-1: hsl(201, 100%, 50%);
        --color-2: hsl(190, 84%, 50%);
        --color-3: hsl(221, 33%, 20%);
        --color-4: hsl(221, 33%, 10%);
        --color-5: hsl(325, 18%, 10%);
        --color-text: rgb(236, 236, 236);
    }
    input {
        color: var(--color-text) !important;
    }
}
  